<div>

    <button (click)="generateRandomSheet()">Create Random Sheet</button>

    <form [formGroup]="jobSheetForm">

        <div class="form-group">
            <label for="referencePrice">Price</label>
            <input type="text" class="form-control" [formControl]="jobSheetForm.controls['referencePrice']"
                id="referencePrice">
        </div>

        <div class="form-group">
            <label for="referenceLabourInMinutes">Labour (Minutes)</label>
            <input type="text" class="form-control" [formControl]="jobSheetForm.controls['referenceLabourInMinutes']"
                id="referenceLabourInMinutes">
        </div>

        <button (click)="addRandomItem()">+ Random Item</button>

        <div formArrayName="items" *ngFor="let item of items.controls; let i = index;">
            <div [formGroupName]="i">
                <div class="form-group">
                    <input type="text" formControlName="$type" placeholder="$type">

                    <input type="text" formControlName="position" placeholder="position">

                    <button (click)="removeItem(i)">Remove</button>
                </div>
            </div>
        </div>

        <form  [formGroup]="itemForm">
            
            <div class="form-group">
                <input type="text" formControlName="$type" placeholder="$type">

                <input type="text" formControlName="position" placeholder="position">

                <button (click)="addItem(itemForm.value)">Add</button>
            </div>
        </form>

        <input type="button" (click)="onSubmit(jobSheetForm.value)" value="Submit">
    </form>

</div>